{% extends 'dashboard.html' %}

{% block addcss %}
<title>Change Password</title>
<link rel="stylesheet"
href="{{url_for('static', filename='changepassword.css')}}">

{% endblock %}
{% block content %}

<div class="password-container">
    <h1>Change Password</h1>
    <form method="post">
        <div class="password-group">
            <label>Current Password</label>
            <input type="password" name="current_password" required>
        </div>
        <div class="password-group">
            <label>New Password</label>
            <input type="password" name="new_password" required>
        </div>
        <div class="password-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>
        </div>
        <button type="submit" class="change-btn">Change Password</button>
    </form>
</div>
{% endblock %}